In [2]:
name = "Python"
print(name)

message = "I love Python."
print(message)

Python
I love Python.

In [5]:
c= ["hey","you",1,2,3,"go"]
print(c)
type(c)

['hey', 'you', 1, 2, 3, 'go']

list

In [4]:
b=10.2345
print("The type of variable having value", b, " is ", type(b))

The type of variable having value 10.2345  is  <class 'float'>

In [2]:
b=("hello", 1,2,3,"go")
type(b)

tuple

In [6]:
var1=''
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [10]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [11]:
var4 = 1.
type(var4)

float

In [12]:
10/5

2.0

In [13]:
3%2

1

In [14]:
10//5

2

In [23]:
5**2

25

In [46]:
sample_list = ['Python', 'with', 'FavTutor',20.34,4]

for i in range(0, len(sample_list)):

     print(type(sample_list[i]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>

In [ ]:
n = int(input("Enter the number to be divided by:"))
for i in range(lower, upper+1):
   if(i%n==0):
      print(i)